@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: scroll;
	--date-picker-foreground: rgb(107 114 128);
}

.date-time-field > input {
	@apply px-4 py-1.5 text-gray-700 bg-white border border-gray-200 rounded-lg w-full lg:w-44 placeholder-gray-400/70 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 !important;
}

.tox.tox-tinymce {
	@apply border-none;
}

input:placeholder-shown {
	@apply truncate;
}

@media screen and (max-width: 767px) {
	.fc-toolbar.fc-header-toolbar {
		flex-direction: column;
	}
	.fc-toolbar-chunk {
		text-align: center;
		padding: 5px 0;
	}
}
