name: publish docker image

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: pre-step
        shell: bash
        run: echo "release-version=$(echo ${GITHUB_REF:10})" >> $GITHUB_OUTPUT
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: kferjani/vetixa
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKRE_PASSWORD }}
          tags: "latest,${{ steps.pre-step.outputs.release-version }}"
